<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title:index_data.title, description:index_data.description}) %>
</head>
  
<body>

<div class="content">
  <%- include('../partials/header', {title:index_data.title}) %>
</div>

  <div class="bio">
	<div class="main">
		<div class="poweredby">
		  <div class="cardlink">
			<div class="shiverlogo">
				<a href="https://bluesharkfriends.com" style="margin-top: 10px; margin-bottom: 10px">
					<img src="images/blue-shark-friends-logo.png" width="50px" />
				</a>
			</div>
			<div class="shiverdetails">
				<label><a href="https://bluesharkfriends.com">Blue Shark Friends</a></label>
				<br />
				<small>Our <a href="http://bluesharkfriends.com/shiver">Shiver</a></small>
				<small>Follows the <a href="https://shiverguide.info/methodology">Shiver Cycle</a></small>
				<small>With <a href="https://shiverguide.info/powerdynamics">Pirate Dynamics</a></small>
			</div>
		</div>
		<div class="poweredby">
		  <div class="cardlink">
			<div class="shiverlogo">
				<a href="https://sonderspeculation.com" style="margin-top: 10px; margin-bottom: 10px">
					<img src="images/sonder.jpg" width="50px" />
				</a>
			</div>
			<div class="shiverdetails">
				<label><a href="https://sonderspeculation.com">Sonder Speculation</a></label>
				<br />
				<small>Our <a href="http://sonderspeculation.com/shiver">Writer Coalition</a></small>
				<small>Follows the <a href="https://shiverguide.info/methodology">TBD</a></small>
				<small>With <a href="https://shiverguide.info/powerdynamics">TBD</a></small>
			</div>
		  </div>
		</div>
		<div class="poweredby">
		  <div class="cardlink">
			<div class="shiverlogo">
				<a href="https://www.outfrontmagazine.com" style="margin-top: 10px; margin-bottom: 10px">
					<img src="images/ofm-logo.png" width="50px" />
				</a>
			</div>
			<div class="shiverdetails">
				<label><a href="https://www.outfrontmagazine.com">Out Front Magazine</a></label>
				<br />
				<small>Our <a href="https://www.outfrontmagazine.com/shiver">Writer Coalition</a></small>
				<small>Follows the <a href="https://shiverguide.info/methodology">TBD</a></small>
				<small>With <a href="https://shiverguide.info/powerdynamics">TBD</a></small>
			</div>
		  </div>
		</div>
		<div class="poweredby">
		  <div class="cardlink">
			<div class="shiverlogo">
				<a href="https://projectliferafthome.carrd.co" style="margin-top: 10px; margin-bottom: 10px">
					<img src="images/lifebuoy.jpg" width="50px" />
				</a>
			</div>
			<div class="shiverdetails">
				<label><a href="https://projectliferafthome.carrd.co/">Project Liferaft</a></label>
				<br />
				<small>Our <a href="https://projectliferaft.bluesharkfriends.com">Safety Team</a></small>
				<small>Follows the <a href="https://shiverguide.info/methodology">TBD</a></small>
				<small>With <a href="https://shiverguide.info/powerdynamics">TBD</a></small>
			</div>
		  </div>
		</div>
		
		
		<p>
		Visit <a href="https://bluesharkfriends.com">Blue Shark Friends</a> for a free consultation as we are still in development for automating this process.
		<br />
		<small>Interested in meeting others building digital community?  Consider joining our <a href="https://harbor.shivernet.social">harbor</a>.</small>
		</p>
	</div>
  </div>

  <div class="greenblock textblock">
	<p>
		How to join
	</p>
	<ul>
		<li>Write out your community building methodology.</li>
		<li>Name your power dynamics.</li>
		<li>Link your shiver (e.g. <a href="https://bluesharkfriends.com/shiver"> Blue Shark Friends</a>).</li>
	</ul>
  </div>



</div>
    
<%- include('../partials/footer') %>

<div class="poweredby">
  <div class="cardlink">
    <a href="https://bluesharkfriends.com/solutions"><span class="linkspan"></span></a>
    <div class="fitcontent"><p><small class="bytext">powered by</small><br /><em>Shiver</em><br /><small class="subtext">A website creation framework</small></p></div>
  </div>
</div>
    
</body>
</html>