<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title:index_data.title, description:index_data.description}) %>
</head>
  
<body>

<div class="content">
  <%- include('../partials/header', {title:index_data.title}) %>
</div>

  <div class="bio">
	<div class="main">
		<div class="poweredby">
		  <div class="cardlink">
			<label>Blue Shark Friends</label>
			<label>Founded under the <a href="https://shiverguide.info/methodology">Shiver Cycle</a></label>
			<label><a href="https://shiverguide.info/powerdynamics">Our Power Dynamics</a></label>
			<a href="https://bluesharkfriends.com/shiver"><span class="linkspan"></span></a>
		  </div>
		</div>
		<p>
			How to join
		</p>
		
		<ul>
			<li>Write out your community building methodology.</li>
			<li>Name your power dynamics.</li>
			<li>Link your shiver (e.g. <a href="https://bluesharkfriends.com/shiver"> Blue Shark Friends</a>).</li>
		</ul>
		
		<p>
		Visit <a href="https://bluesharkfriends.com">Blue Shark Friends</a> for a free consultation as we are still in development for automating this process.
		<br />
		<small>Interested in meeting others trying to build digital community?  Consider joining our <a href="https://harbor.shivernet.social">harbor</a>.</small>
		</p>
	</div>
  </div>

  <div class="greenblock textblock">
    <p><em>We are changing the world.</em></p>
  </div>



</div>
    
<%- include('../partials/footer') %>

<div class="poweredby">
  <div class="cardlink">
    <a href="https://bluesharkfriends.com/solutions"><span class="linkspan"></span></a>
    <div class="fitcontent"><p><small class="bytext">powered by</small><br /><em>Shiver</em><br /><small class="subtext">A website creation framework</small></p></div>
  </div>
</div>
    
</body>
</html>